# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

TrivialWikiAPI/.vs/config/applicationhost.config
_ReSharper*

# NuGet Packages
*.nupkg

*.nuget.props
*.nuget.targets

TrivialWikiAPI/.vs/config
packages
tmp
.tmp
.sass-cache
*.log
*.suo
*.user
*.sln.docstates
[Bb]in
[Oo]bj
[Pp]ackages/