.table-container {
    width:98%;
    margin-left:1%;
    font-family: Montserrat;
}

.users-table {
    background-color:#fff;
}

.users-table-header {
    border:2px solid #ddd;
    margin-top:20px;
    background-color: #f5f5f5;
}

.users-table-body {
    border:2px solid #ddd;
}

.users-table-body tr:hover {
    background-color: #f5f5f5;
}

.table-action i:hover{
    cursor: pointer;
}

.pagination-numbers{
    margin:0 !important;
}

.admin-panel{
    position:absolute;
    width: 97%;
    top:90px;
    margin-left:20px;
    margin-right:20px;
}

.admin-panel > .panel-heading{
    min-height:70px;
}

.topics-panel {
    width: 97%;
    margin-left: 2%;
    max-height: 450px;
    overflow: auto;
    font-family: Montserrat;
}

.topic-container {
    width: 20%;
    margin-left: 2%;
    margin-top: 30px;
}

.editable-wrap {
    width: 96%;
}

.editable-controls {
    width: 100%;
}

.editable-input {
    width: 90% !important;
}

.question-checkbox {
    margin-left: 20px;
    margin-right: 20px;
    align-self: center;  
}

.question-checkbox input {
    height: 18px;
    margin-top: -14px;
    width: 18px;
}

.savePartialQuestions {
    float: right;
    margin-top: 40px;
    margin-right: 15px;
}

.enableTopicButton {
    float: left;
    margin-top: 40px;
}

.inactiveQuestionCheckbox {
    margin-left: 2%;
}

.question-checkbox input {
    border: 1px solid #ccc;
}

md-checkbox.md-checked.questionSelectCheck .md-icon {
 background-color: #cc1935;
}


