.headerContainer {
    top:0;
    position: fixed;
    width:100%;
    height:120px;
    display: block;
    z-index: 1000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

    .headerContainer.smaller {
        -ms-opacity:0.9;
        opacity:0.9;
        height:60px;
    }

    .headerContainer.smaller1 {
        -ms-opacity:1 !important;
        opacity:1 !important;
        height:60px;
    }

.navigation-bar {
    display: inline-block !important;
    float: right;
    margin-top:45px;
    margin-right: 30px;
    font-family: Montserrat;
    font-size: 20px;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.navigation-bar li {
    bottom: 10px;
    margin-left:10px;
    margin-right:10px;
    display:inline !important;
}
    .navigation-bar li a{
        color:#ccc;
        display: inline; 
    }
    .navigation-bar a:hover {
        text-decoration: none;
        cursor: pointer;
    }
    .navigation-bar.smaller {
        margin-top:18px;
        font-size: 15px;
    }

.wikiLogo {
    position: absolute;
    height:100%;
    width: 100%;
    display: block;
    background: url('../images/blackBackground.jpg');
    -ms-background-size: cover;
    background-size: cover;
    -moz-background-position-y: center;
    -o-background-position-y: center;
    background-position-y: center;
}
    
 .wiki-logo-image {
    height:80px;
    width:80px;
    margin-left:8%;
    margin-top: 20px;
     -webkit-transition:all 0.3s;
     -moz-transition:all 0.3s;
     -ms-transition:all 0.3s;
     -o-transition:all 0.3s;
     transition:all 0.3s;
 }

.wiki-logo-image.smaller {
        height:50px;
        width:50px;
        margin-top:5px;
    }
    .wiki-logo-image img:hover {
        cursor: pointer;
    }

.wikiTitle {
    margin-top:30px;
    margin-left:15px;
    position: absolute;
    color: #ccc;
    font-family: Montserrat;
    font-size: 40px;
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
}

.wikiTitle.smaller {
        margin-top:8px;
        font-size:30px
    }
    .wikiTitle:hover {
        cursor: pointer;
        color:#fff;
    }

.user-settings img {
    max-height: 30px;
    max-width: 30px;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.user-settings a {
    color: #ccc;
    vertical-align: central;
}

.user-settings:hover {
    cursor: pointer;
}

.settings-dropdown {
    right: 20px;
    margin-top: -30px;
    width: 250px;
    min-height: 40px;
    text-align: center;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.notifications-dropdown {
    right: 20px;
    margin-top: -10px;
    width: 390px;
    min-height: 40px;
    text-align: center;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.notifications-dropdown::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
    background-color: white;
}

.notifications-dropdown::-webkit-scrollbar {
    width: 5px;
}

.notifications-dropdown::-webkit-scrollbar-thumb {
    background-color: #ccc;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.notifications-dropdown li,
.settings-dropdown li{
    display: block !important;
}

.notifications-dropdown.smalle,
.settings-dropdown.smaller {
    margin-top: -10px !important;
}


.settings-dropdown img {
    max-height: 70px;
    max-width: 70px;
    -ms-border-radius: 50%;
    border-radius: 50%;
    left: 40%;
    vertical-align: central;
}

.notifications-dropdown img{
    max-height: 50px;
    max-width: 50px;
    vertical-align: central;
}

.settings-dropdown span {
    margin-top: 10px;
    horiz-align: center;
}

.notifications-dropdown span {
    horiz-align: center;
}


.profile-buttons button {
    -ms-border-radius: 0;
    border-radius: 0;
}

.hvr-underline-from-center:before {
    height:2px;
    background:#ccc;
}

.logo-container {
    float: left;
    width: 30%;
    margin-left: 5%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.small-menu-button {
    position: absolute;
    right: 25px;
    top: 35px;
    width: 40px;
    height: 50px;
    display: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.small-menu-button:hover {
    cursor: pointer;
}

.small-menu-button.smaller {
    margin-top: -20px;
    height: 35px;
}

.slider-menu-container {
    background-image: url('../../../images/blackBackground.jpg');
}

.side-menu {
    top: 120px;
    position: fixed;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.side-menu.smaller {
    top: 60px;
}

.slider-menu-item {
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 400;
    margin-top: 14px;
    color: #ccc;
}

.md-sidenav-right {
    width: 240px !important;
}

.side-menu-icon {
    margin-top: 14px;
    margin-left: 25px;
    margin-right: 20px;
}

.slider-menu-row {
    margin-bottom: 10px;
}

.slider-menu-row :hover {
    cursor: pointer;
    color: white;
}

.logout-slider-item {
    position: absolute;
    bottom: 15px;
}

@media (max-width: 1065px) {
    .headerContainer {
        width:100%;
    }
    .wikiLogo {
        width:100%;
    }
    .navigation-bar{
        display: none !important;
    }
    .logo-container {
        margin-left: 10%;
    }
    .small-menu-button {
        display: block !important;
    }
}

.admin-dropdown {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.admin-dropdown li {
    display: block !important;
    width: 100%;
    margin: 0 !important;
    padding: 5px !important;
}

.admin-dropdown li:hover {
    background-color: #f5f5f5 !important;
}


.angular-notifications-icon {
    height: 20px;
    width: 20px;
    right: -2px;
    top: -5px;
    min-height: 20px;
    -moz-min-width: 20px;
    -ms-min-width: 20px;
    -o-min-width: 20px;
    -webkit-min-width: 20px;
    min-width: 20px;
    background: #cc1935;
    font-size: 10px;
}

.headerImage {
    margin-bottom: 16px;
}

.headerUsername {
    position: relative;
    bottom: 7px;
}

.notification-icon {
    position: relative;
    bottom: 4px;
}

.notificationRow {
    max-height: 80px;
    width: 100%;
}

.notification-image {
    width: 20%; 
    float: left; 
    margin-top: 5px;
}

    .notification-image img {
        max-height: 70px;
        max-width: 70px;
    }

.notification-data {
    width: 70%; 
    float: left; 
}

.notification-sender {
    margin-top: 3px; 
    font-size: 13px; 
    font-weight: 400; 
    float: left;
    clear: both;
}

.notification-text {
    margin-top: 0; 
    font-size: 11px; 
    font-weight: 300; 
    float: left;
    clear: both;
}

.notification-date {
    position: absolute;
    bottom: 0;
    left: 80px;
    margin-top: 0; 
    float: left; 
    font-size: 10px; 
    font-weight: 200;
    clear: both;
}

.notification-cercle {
    width: 5%; 
    margin-left: 90%;
    height: 60px;
}

.small-circle {
    cursor: pointer;    
    font-size: 10px !important; 
    top: 20px;
}

.mark-read-tooltip {
    z-index: 1000; 
    margin-top: -20px;
}

.notifications-list {
    float: left;
    width: 100%;
    margin-left: 0 !important;
    margin-right:0 !important;
}

.notifications-list:hover {
    background-color: #F5F5F5;
}

.unseen-color {
    background-color: #F5F5F5;
}

.notification-item {
    padding: 0 !important;
}

.notifications-divider {
    margin-top: 5px;
}