<!DOCTYPE html>
<html ng-app="WikiTrivia">
<head>
    <title>WikiTrivia</title>
	<meta charset="utf-8" />

    <link href="../css/libs/angular-growl.min.css" rel="stylesheet" />
    <link href="../css/libs/bootstrap.min.css" rel="stylesheet" />
</head>
<body ng-controller="loginController">

    <form class="form">
        <input type="text" placeholder="Username" ng-model="username" />
        <input type="password" placeholder="Password" ng-model="password" />
    </form>
    <button ng-click="login()">Login</button>

    <script src="../js/libs/jquery.min.js" type="text/javascript"></script>
    <script src="../js/libs/angular.min.js" type="text/javascript"></script>
    <script src="../js/libs/angular-growl.min.js" type="text/javascript"></script>
    <script src="../js/libs/angular-route.js" type="text/javascript"></script>
    <script src="../js/libs/bootstrap.min.js" type="text/javascript"></script>
    <script src="js/libs/lodash.js" type="text/javascript"></script>

    <script src="../js/config.js" type="text/javascript"></script>
    <script src="../js/app.js" type="text/javascript"></script>
    <script src="../js/routeProvider.js" type="text/javascript"></script>
    <script src="../js/login/loginService.js" type="text/javascript"></script>
    <script src="../js/login/loginController.js" type="text/javascript"></script>
</body>
</html>
