<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Stanford.JarRoot" value="F:\stanford-corenlp-3.6.0-models"/>

    <add key="Tagger.WikipediaResult" value="D:\Licenta\Files\WikiResult.txt"/>
    <add key="Tagger.CleanText" value="D:\Licenta\Files\CleanText.txt"/>
    
    <add key="Tagger.References" value="D:\Licenta\Files\References.txt"/>
    <add key="Tagger.NewParse" value="D:\Licenta\Files\NewParse.txt"/>
    <add key="Tagger.ListParse" value="D:\Licenta\Files\ListParse.txt"/>

    <add key="Tagger.OutputJson" value="D:\Licenta\Files\OutputJson.txt"/>
    <add key="Tagger.OutputTest" value="D:\Licenta\Files\OutputTest.txt"/>
    <add key="Tagger.OutputTestJson" value="D:\Licenta\Files\OutputTestJson.txt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>