<div class="header headerContainer">
    <div class="wikiLogo row">
        <img class="wiki-logo-image" src="images/wikipedia-icon2.png" ng-click="javascript(0);" />
        <span class="wikiTitle" ng-click="javascript(0);">WikiTrivia</span>
        <ul class="navigation-bar">
            <li class="hvr-underline-from-center small-padding-bottom">
                <a class="sliding-middle-out" ng-click="openLoginModal()">Login</a>
            </li>
            <li class="hvr-underline-from-center small-padding-bottom">
                <a ng-click="openRegisterModal()">Register</a>
            </li>
            <li class="hvr-underline-from-center small-padding-bottom">
                <a>Contact</a>
            </li>
        </ul>
    </div>
</div>