
<!--<div ng-repeat="user in leaderboardUsers">{{user.username}}</div>-->
<div class="row leaderboard-container" style="">
    <div class="col-md-8 col-md-offset-2" style="position: relative;">
        <div class="panel panel-default leaderboard-panel" style="">
            <div class="panel-body" style="text-align: center;">


                <div class="row" style="display: inline-block; margin-top: 20px;">
                    <div ng-repeat="user in firstThree | orderBy: numberOfPoints" 
                         class="medium-margin-left small-margin-top" style="display: inline-block; max-width: 150px;" ng-class="{'negative-margin-top': user.position === 1}">
                        <div style="font-family: Montserrat; font-size: 15px;" ng-class="{'negative-margin-top': user.position === 1}">{{user.position}}</div>
                        <div style="max-width: 200px;">
                            <div class="hovereffect" >
                                <img class="img-responsive" ng-src="http://localhost:4605/avatar/{{user.username}}" alt="">
                                <div class="overlay">
                                    <h2>{{user.username}}</h2>
                                    <h3>{{user.numberOfPoints}} points</h3>
                                    <p>
                                        <button class="btn btn-default" style="max-width: 80px; font-size: 10px; border-radius: 0;">Add friend</button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>