
.table-container {
    width:90%;
    margin-left:50px;
    font-family: Montserrat;
}

/*.users-table {
    margin-top: 150px !important;
}*/

.users-table-header {
    border:1px solid #99A6CA;
    -ms-border-radius:40px 4px 0 0 !important;
    border-radius:40px 4px 0 0 !important;
    margin-top:20px;
    background-color: #99A6CA;
}

.users-table-body {
    border:1px solid #99A6CA;
}

.users-table-body tr:hover {
    background-color: #CAD1E6;
}

.table-action i:hover{
    cursor: pointer;
}