.trivia-container {
	position: absolute; 
	width: 22%; 
	right: 0;
}

.nonStopTrivia {
	left: 20px; 
	position: absolute; 
	top: 75px; 
	width: 75%; 
	height: 70%; 
	overflow: auto;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	-ms-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
}