<div class="modal-container changePassword-modal">
    <h1>Change password</h1>
    <span class="row">
        <span class="small-margin-right small-margin-top col-md-3">Old password: </span>
        <input class="col-md-4 password-input" type="password" ng-model="oldPassword" />
    </span>
    <span class="row">
        <span class="small-margin-right small-margin-top col-md-3"> New password: </span>
        <input class="col-md-4 password-input" type="password" ng-model="newPassword" />
    </span>
    <p class="update-user-errorMessage small-margin-top" ng-show="oldAndNewAreEqual">New password cannot be old password.</p>

    <span class="row">
        <span class="small-margin-right small-margin-top col-md-3"> Repeat new password: </span>
        <input class="col-md-4 password-input" type="password" ng-model="repeatedNewPassword" />
    </span>
    <p class="update-user-errorMessage small-margin-top" ng-show="invalidNewPassword">Password don't match.</p>

    <div>
        <button class="confirm-button" title="Confirm" ng-click="changePassword()">Save</button>
        <button class="cancel-button" title="Cancel" ng-click="cancel()">Cancel</button>
    </div>
    <div class="loader-container" title="Saving.." ng-show="paswordIsChanging">
        <div class="loader"><div class="loader-inner ball-clip-rotate"><div></div></div></div>
    </div>
</div>