<div style="width: 200px;">
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a class="pointer-cursor">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Profile
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a class="pointer-cursor">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Friends
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a class="pointer-cursor">
                    <i class="fa fa-gamepad fa-2x"></i>
                    <span class="nav-text">
                        Matches
                    </span>
                </a>

            </li>
            <li>
                <a class="pointer-cursor">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Statistics
                    </span>
                </a>
            </li>
        </ul>
        <ul class="logout">
            <li>
                <a class="pointer-cursor" ng-click="signOut()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="settings-container panel">
    <div class="panel-heading" style="background-color: #5fa2db;">
        <div>
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                Profile
            </span>
        </div>
    </div>
    <div class="panel-body setting-body">
        <div class="box">
            <img src="../../../images/default_avatar.png" ng-click="triggerUpload()"/>
            <span class="caption simple-caption">
                <p>Change avatar</p>
            </span>
        </div>
        <input id="fileInput" class="image-uploader" type="file" nv-file-select="" uploader="uploader"/>
    </div>
</div>
