<div style="margin-top: -61px;">
    <div class="area" style="margin-top: -61px;"></div>
    <nav class="main-menu" style="">
        <ul>
            <li title="Profile">
                <a class="pointer-cursor" >
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Profile
                    </span>
                </a>
            </li>
            <li title="Friends">
                <a class="pointer-cursor">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Friends
                    </span>
                </a>

            </li>
            <li title="Matches">
                <a class="pointer-cursor">
                    <i class="fa fa-gamepad fa-2x"></i>
                    <span class="nav-text">
                        Matches
                    </span>
                </a>

            </li>
            <li title="Statistics">
                <a class="pointer-cursor">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Statistics
                    </span>
                </a>
            </li>
        </ul>
        <ul class="logout" title="Sign out">
            <li>
                <a class="pointer-cursor" ng-click="signOut()">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Sign out
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="settings-container panel">
    <!--<div class="panel-heading" style="background-color: black; opacity: 0.7;">
        <div>
            <i class="fa fa-home fa-2x"></i>
            <span class="nav-text">
                Profile
            </span>
        </div>
    </div>-->
    <!--<input id="fileInput" type="file" class="image-uploader" img-cropper-fileread image="cropper.sourceImage"/>-->
    <div class="panel-body setting-body">
        <div class="box">
            <img ng-show="!userHasAvatar()" src="../../../images/default_avatar.png" ng-click="triggerUpload()"/>
            <img ng-show="userHasAvatar()" ng-src="data:image/JPEG;base64,{{avatar}}" ng-click="triggerUpload()">
            <span class="caption simple-caption" >
                <p>Change avatar</p>
            </span>
        </div>
        <input id="fileInput" type="file" class="image-uploader" img-cropper-fileread image="cropper.sourceImage" />
    </div>
</div>
